/* elements */
body {
  color: #191919;
  font-family: 'Cambria', 'Times New Roman', serif;
  margin-top: 50px;
}


/* ids */
#copyright {
  margin-top: 4em;
}

#content {
  font-size: 1.2em;
}

#subtitle {
  font-style: italic;
}