<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="The home page of O'Reilly's 'Programming Scala' by Dean Wampler &amp; Alex Payne" name="description" />
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <link type="text/css" rel="stylesheet" href="http://catalog.oreilly.com/buy_buttons.css"/>
    <!--[if IE]>
      <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <title>Programming Scala</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18477556-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24">
        <h1 id="title">Programming Scala</h1>
        <h2 id="subtitle">by Dean Wampler & Alex Payne</h2>
      </div>
      <div id="content" class="span-16">
        {{ content }}
      </div>
      <div id="right-column" class="span-8 last">
        <a href="http://oreilly.com/catalog/9780596157746/">
          <img src="/images/cover-sm.gif" id="small_cover" alt="Programming Scala (small cover image)" />
        </a>
      </div>
      <div id="copyright" class="span-24">
        &copy; 2009 <a href="http://www.deanwampler.com/">Dean Wampler</a> and <a href="http://al3x.net/">Alex Payne</a>
      </div>
    </div>
  </body>
</html>